<!DOCTYPE html>
<html>
<head>
  <title>Jay and Silent Bob's real groovy calculator</title>
 <div class="header_wrapper">
  <h1>Jay and Silent Bob's</h1> 
  <h2>Real Groovy Calculator</h2>
  </div>
  <link rel="stylesheet" href="/style.css">
</head>
<body>



<nav>
  <li><a href='/'>HOME</a></li>
  <li><a href='/basic_calc'>BASIC SNEEZ</a></li>
  <li><a href='/power'>POWER TO YOU MA MAN!</a></li>
  <li><a href='/sq_root'>ROOT THAT!</a></li>
  <li><a href='/trip'>ACID, BOOON!</a></li>
  <li><a href='/bmi'>FAT MAN CALC</a></li>


</nav>
</div>
<%= yield %>


</body>
</html>