<!DOCTYPE html>
<html>
<head>
  <title>Amstrad Calc_it</title>
 <div class="header_wrapper">
 
  </div>
  <link rel="stylesheet" href="/style.css">
</head>
<body>



<nav>
  
  <li><a href='/basic_calc'>Init Basic Calc</a></li>
  <li><a href='/power'>Init Pwr Of</a></li>
  <li><a href='/sq_root'>Init SqRoot</a></li>
  <li><a href='/trip'>Init Trip</a></li>
  <li><a href='/bmi'>Init BMI</a></li>


</nav>
</div>
<%= yield %>


</body>
</html>