<form action="/power" method="get">
   <label for="first">FIRST NUMBER</label>
   <input type ="text" name="first" placeholder="Enter the first number">
   <p>POWER OF</p>
   <label for="second">SECOND NUMBER</label>
   <input type="text" name="second" placeholder="Enter second number">
   <input type="submit">
</form>

<% if @result %>
<p>The result of <%= @first %> <%= @operator %> to the power of   <%= @second %> is <%= @result %></p>
<% end %> 