body {
  background-image: url('http://amstrad.cpc.free.fr/amstrad/images/cpcscreen2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 300px;

}

li {
  text-decoration: bold;
  display: inline-block;
  padding: 25px;
  font-family: 'Rokkitt', serif;
}

li a {
  color: #AFE0AD;
  font-weight: bolder;
  letter-spacing: 0.0825em;
  font-family: 'Rokkitt', serif;
  font-size: 32px;
  text-decoration: none;

}

li a:hover {
  color: green;
  font-size: 34px; 
}

nav {
  text-align: center;
  margin-top: 55px;
}

form {
  margin-top: 75px;
  text-align: center;
  color: #AFE0AD;
  font-weight: bolder;
  letter-spacing: 0.0825em;
  font-family: 'Rokkitt', serif;
  font-size: 32px;
  text-decoration: none;
}

.result {
  margin-top: 75px;
  text-align: center;
  color: #AFE0AD;
  font-weight: bolder;
  letter-spacing: 0.0825em;
  font-family: 'Rokkitt', serif;
  font-size: 32px;
  text-decoration: none;
}




